html 
    head 
        title chances
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.4/css/all.css', integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm', crossorigin='anonymous')
        link(href='./css/app.css' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Share&display=swap' rel='stylesheet')
    body 
        .container-fluid
            img.background(src="../img/ab67616d0000b273d9830c4af6eabf5dd4ab0fa1.jpg", alt="background")
        .wrapper(data-aos='flip-right')
                .container 
                    .row 
                        .column 
                            .header 
                                img.header__img(src="../img/ab67616d0000b273d9830c4af6eabf5dd4ab0fa1.jpg", alt="")
                            .title 
                                p.title__song Chances 
                                p.title__acrtice Thuy
                                .arrow-down 
                            .app 
                                img.app__img(src="../img/spotify.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/amazon-music.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/apple-music.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/audiomack.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/deezer.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/itunes.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/soundcloud.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/tidal.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/tiktok.png")
                                button.app__button Play 
                                    i.fas.fa-play  
                            .app 
                                img.app__img(src="../img/youtube.png")
                                button.app__button Play 
                                    i.fas.fa-play  
        .footer 
            .container_2 
                    .column 
                        .icon 
                            i.fab.fa-instagram
                            i.fab.fa-tiktok
                            i.fab.fa-twitter
                            i.fab.fa-facebook
                            i.fab.fa-twitch
                            i.fas.fa-at
        .title__footer 
            .title__footer__right 
                span By using this service, you agree to 
                span the use of cookies.
                button Manage privacy 
            .title__footer__left 
                button powered by toneden
        script.
            AOS.init();